{% extends 'menu.html' %}
{% import 'formhelper.html' as formhelper %}
{% block title %}AI Ladder - Match results for league {{league.league_name|e}}{% endblock title %}
{% block content %}

Pick a league: <form method="get" action="viewresults.py">{{formhelper.listtodropdownwithselected('leaguename', leaguenames,league.league_name)}}
<input type="submit" value="Reload" />
</form>

{% for i in range(1, numPages + 1) %}
{% if i != page %}
<a href="./viewresults.py?page={{i}}&leaguename={{league.league_name|e}}">{{i}}</a> 
{% else %}
{{i}} 
{% endif %}
{% endfor %}

<table>
<tr class='tablehead'>
<td>ID</td>
<td>AI0</td>
<td>AI0 Side</td>
<td>AI1</td>
<td>AI1 Side</td>
<td>Map</td>
<td>Mod</td>
<td>Options</td>
<td>Botrunner</td>
<td>Result</td>
<td>Infolog</td>
<td>Replay</td>
</tr>

{% for result in results %}
   <tr {% if loop.even %}class="alt"{% endif %}>
   <td>{{result.matchresult_id}}</td>
   <td {% if result.matchresult == 'ai0won' %}class='success'{% endif %}>{{result.ais[0].ai_name|e}} {{result.ais[0].ai_version|e}}</td>
   <td {% if result.matchresult == 'ai0won' %}class='success'{% endif %}>{{result['ai0_side'].mod_side_name|e}} 
   <td {% if result.matchresult == 'ai1won' %}class='success'{% endif %}>{{result.ais[1].ai_name|e}} {{result.ais[1].ai_version|e}}</td>
   <td {% if result.matchresult == 'ai1won' %}class='success'{% endif %}>{{result['ai1_side'].mod_side_name|e}} 
   <td>{{result.map_name|e}}</td>
   <td>{{result.mod_name|e}}</td>
   <td>
   {% for option in result.options %}
      {{option|e}}&nbsp;
   {% endfor %}
   &nbsp;
   </td>
   <td>{{result.botrunner_name|e}}</td>
   <td {% if result.matchresult == 'crashed' %}class='fail'{% else %}{% endif %}>{{result.matchresult|e}}</td>
   <td>
   {% if result.infologrelativeurl is defined %}
      <a href='{{springgridurl}}/{{result.infologrelativeurl|e}}'>infolog</a>
   {% endif %}
   </td>
   <td>
   {% if result.replayrelativeurl is defined %}
      <a href='{{springgridurl}}/{{result.replayrelativeurl|e}}'>replay</a>
   {% endif %}
   </td>
   </tr>
{% endfor %}

</table>

{% endblock %}

