{% extends 'menu.html' %}
{% import 'formhelper.html' as formhelper %}
{% block title %}AILadder - Match requests for league {{league.league_name}}{% endblock title %}
{% block content %}

Pick a league: <form method="get" action="viewrequests.py">{{formhelper.listtodropdownwithselected('leaguename', leaguenames,league.league_name)}}
<input type="submit" value="Reload" />
</form>


{% for i in range(1, numPages + 1) %}
{% if i != page %}
<a href="./viewrequests.py?page={{i}}&leaguename={{league.league_name}}">{{i}}</a> 
{% else %}
{{i}} 
{% endif %}
{% endfor %}

<table padding='3'>
<tr class='tablehead'>
<td>ID</td>
<td>AI0</td>
<td>AI0 Side</td>
<td>AI1</td>
<td>AI1 Side</td>
<td>Map</td>
<td>Mod</td>
<td>Options</td>
</tr>

{% for request in requests %}
   <tr>
   <td>{{request.matchrequest_id}}</td>
   <td>{{request['ais'][0].ai_name|e}} {{request['ais'][0].ai_version|e}}</td>
   <td>{{request['ai0_side'].mod_side_name|e}} 
   <td>{{request['ais'][1].ai_name|e}} {{request['ais'][1].ai_version|e}}</td>
   <td>{{request['ai1_side'].mod_side_name|e}} 
   <td>{{request.map_name|e}}</td>
   <td>{{request.mod_name|e}}</td>
   <td>
   {% for option in request.options %}
      {{option|e}}&nbsp;
   {% endfor %}
   &nbsp;</td>
   </tr>

{% endfor %}

</table>

{% endblock %}

